<div class="grid wide">
    <div class="row header__row">
        <div class="col c-3 m-3">
            <div class="nav__logo" href="#">
                <img src="./assets/img/logo_transparent.png">
            </div>
        </div>

        <ul class="nav__menu col c-6 m-6">
            <li><a class="nav__menu-items" href="#home">Home</a></li>
            <li><a class="nav__menu-items" href="#shop">Shop</a></li>
            <li><a class="nav__menu-items" href="./about.html">About Us</a></li>
            <li><a class="nav__menu-items" href="#contact">Contact Us</a></li>
        </ul>


        <div class="nav__client col c-3 m-3">
            <a href="#search" class="nav__client-search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>

            <a href="#cart" class="nav__client-cart">
                <i class="fa-solid fa-cart-shopping"></i>
                <!-- <span>0</span> -->
                <div class="cart__list">
                    <a class="cart__list-no-cart">
                        No products in the cart.
                    </a>
                </div>
            </a>

            <a href="#heart" class="nav__client-heart">
                <i class="fa-regular fa-heart"></i>
            </a>

            <a class="nav__client-user" href="./assets/layout/login.html">
                <i class="fa-regular fa-user"></i>
            </a>
        </div>

        <div id="mobile__menu">
            <!-- <div class="bg"></div> -->
            <div class="button" tabindex="0">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </div>
            <div id="sid-content" tabindex="0">
              <ul>
                <li><a href="#">Home</a></li>
                <li>
                    <a href="#">Shop</a>
                    <ul>
                        <li></li>
                    </ul>
                </li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li>
                    <a href="#">My Account</a>
                    <ul class="dropdown">
                        <li><a href="#">My Cart</a></li>
                        <li><a href="#">My Wishlist</a></li>
                    </ul>
                </li>
                <li class="small"><a href="#">Sign In</a><a href="#">Sign Up</a></li>
              </ul>
            </div>
        </div>
    </div>
</div>

<!-- <div class="sid-right">
    <div class="sid-inner">
        <form>
            <input type="search" placeholder="Search">
        </form>
    </div>
</div> -->