<div class="grid wide">
    <div class="row header__row">
        <div class="mobile__menu">
            <div class="mobile__menu-icon">
                <span class="icon-bars"></span>
                <span class="icon-bars"></span>
                <span class="icon-bars"></span>
            </div>
            <a>Menu</a>
        </div>

        <div class="col c-3 m-3">
            <div class="nav__logo" href="#home">
                <img src="./assets/img/logo_transparent.png">
            </div>
        </div>

        <!-- <div class=""> -->
            <ul class="nav__menu col c-6 m-6">
                <li><a class="nav__menu-items" href="#home">Home</a></li>
                <li><a class="nav__menu-items" href="#shop">Shop</a></li>
                <li><a class="nav__menu-items" href="#about">About Us</a></li>
                <li><a class="nav__menu-items" href="#contact">Contact Us</a></li>
            </ul>
        <!-- </div> -->


        <div class="nav__client col c-3 m-3">
            <a href="#search" class="nav__client-search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>

            <a href="#cart" class="nav__client-cart">
                <i class="fa-solid fa-cart-shopping"></i>
                <!-- <span>0</span> -->
                <!-- 
                    <div class="cart__list">
                        <a>No products in the cart.</a>
                    </div> -->
            </a>

            <a href="#heart" class="nav__client-heart">
                <i class="fa-regular fa-heart"></i>
            </a>

            <a href="#user" class="nav__client-user">
                <i class="fa-regular fa-user"></i>
            </a>
        </div>

    
</div>
</div>




