.cart__info {
    font-family: 'Rubik', sans-serif;
    margin-top: 50px;
    border: 1px solid #ebebeb;
}

.cart__header {
    border-bottom: 1px solid #ebebeb;
}

.cart__header-title {
    padding: 14px;
    font-weight: 500;
    font-size: 14px;
    color: var(--text-color);
    text-transform: uppercase;
}

.cart__item {
    border-bottom: 1px solid #ebebeb;
    padding: 14px 0;
    margin: 0 !important;
}

.cart__pad {
    padding: 0 0 0 14px;
}

.cart__item {
    align-items: center;
}

.cart__product-remove-btn {
    text-align: center;
}

.cart__product-remove-btn-icon {
    display: inline-block;
    text-align: center;
    height: 24.8px;
}

.cart__product-remove-btn-icon::before {
    border: 1px solid var(--text-color);
    border-radius: 100%;
    padding: 8px;
    font-size: 7px;
    font-weight: 900;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.cart__product-remove-btn-icon:hover::before {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.cart__product-img {
    display: block;
    width: 60px;
    height: 60px;
}

.cart__product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cart__product-title,
.cart__product-price,
.cart__product-subtotal {
    font-size: 14px;
    display: block;
}

.cart__product-price,
.cart__product-subtotal {
    color: var(--primary-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cart__product-title {
    text-decoration: none;
    color: inherit;
}

.cart__product-title span {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.cart__product-title span:hover {
    color: var(--primary-color);
}

.cart__product-quantity {
    display: flex;
}

.cart__product-quantity input {
    min-height: 36px;
    width: 36px;
    text-align: center;
    outline: none;
    color: var(--text-color);
    border: 1px solid #ebebeb;
}

.cart__product-quantity-btn {
    font-family: 'Rubik', sans-serif;
    color: #777;
    border: 1px solid #ebebeb;
    max-width: 58px;
    min-height: 36px;
    width: 36px;
    min-width: 36px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

.cart__product-quantity-btn i {
    line-height: 36px;
}

.cart__quantity-input.active {
    color: #f33a58;
    border-color: #f33a58;
}

.cart-coupon__form,
.cart__update {
    padding: 14px;
}

.cart-coupon__code {
    font-family: 'Rubik', sans-serif;
    outline: none;
    border-radius: 25px;
    min-height: 32px;
    line-height: 32px;
    margin: 0 8px 0 0;
    padding: 0 14px;
    border: 1px solid #ddd;
}

.cart__update {
    text-align: right;
}

.cart__update-btn,
.cart-coupon__submit {
    font-family: 'Rubik', sans-serif;
    outline: none;
    border: none;
    min-width: 150px;
    border-radius: 5px;
    padding: 12px 20px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.cart__update-btn {
    opacity: 0.5;
    cursor: not-allowed;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.cart__update-btn.active {
    opacity: 1;
    cursor: pointer;
}

.cart__update-btn:hover,
.cart-coupon__submit:hover {
    background-color: var(--text-color);
}

.cart__process {
    font-family: 'Rubik', sans-serif;
    margin-top: 50px;
}

.cart__totals-header-title {
    text-align: center;
}

.cart__totals-header {
    color: var(--text-color);
    border: 1px solid #ebebeb;
    padding: 14px 20px;
    font-size: 16px;
    font-weight: 500;
}

.cart__totals-body {
    padding: 20px;
    border: 1px solid #ebebeb;
    border-top: none;
}

.cart__totals-row {
    border-bottom: 1px solid #ebebeb;
}

.cart__totals-body-title {
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
}

.cart__totals-body-value {
    font-size: 14px;
    padding: 10px;
    color: #666666;
    border-left: 1px solid #ebebeb;
}

.cart__totals-calculate-shipping {
    font-size: 14px;
    padding: 10px;
    color: var(--text-color);
    border-left: 1px solid #ebebeb;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.cart__totals-calculate-shipping:hover {
    color: var(--primary-color);
}

.cart__totals-calculate-shipping::after {
    display: block;
    content: '';
    height: 0.1px;
    width: 145px;
    background-color: var(--text-color);
    position: absolute;
    bottom: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.cart__totals-calculate-shipping:hover::after {
    background-color: var(--primary-color);
}

.cart__totals-body-value--subtotal {
    color: var(--primary-color);
}

.cart__totals-body-value--total {
    color: var(--primary-color);
    font-weight: 500;
}

.cart__totals-process-checkout {
    font-family: 'Rubik', sans-serif;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
    padding: 14px 20px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.cart__totals-process-checkout:hover {
    background-color: var(--text-color);
}

/* Mobile: width < 740px */
@media only screen and (max-width: 739px) {
    .cart__header {
        display: none;
    }

    .cart__item {
        display: flex;
        flex-direction: column;
        border: none;
        padding: 0;
    }

    .cart__product-price {
        display: none;
    }

    .cart__product-remove-btn,
    .cart__product-wrapper-img,
    .cart__product-title,
    .cart__product-quantity,
    .cart__product-subtotal {
        padding: 14px;
        border-bottom: 1px solid #ebebeb;
    }

    .cart__product-full-w {
        width: 100%;
    }

    .cart__product-img {
        margin: 0 auto;
    }

    .cart__product-quantity {
        justify-content: flex-end;
    }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 740px) and (max-width: 1023px) {}

/* Mobile & tablet */
@media (max-width: 1023px) {
    .cart-coupon__form {
        text-align: center;
    }

    .cart-coupon__code {
        width: 100%;
    }

    .cart-coupon__submit {
        margin-top: 10px;
    }

    .cart__update {
        border-top: 1px solid #ebebeb;
    }

    .cart__update-btn {
        width: 100%;
    }
}

/* pc: width >= 1024px */
@media only screen and (min-width: 1024px) {}