.checkout-coupon {
    display: block;
    text-align: center;
    padding: 30px;
    border: 3px dashed rgba(84, 84, 84, 0.15);
    margin-top: 50px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.checkout-coupon p {
    font-family: "Lora", Sans-serif;
    color: #666666;
    font-weight: 500;
    font-size: 16px;
}

.checkout-coupon__form {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.checkout-coupon__form span {
    flex: 1;
    width: 100%;
}

.checkout-coupon__code {
    font-family: "Lora", Sans-serif;
    padding: 8px 16px;
    background-color: #f7f7f7;
    outline: none;
    border: 1px solid #ddd;
    color: #333;
    font-size: 16px;
    border-radius: 4px;
    width: 100%;
}

.checkout-coupon__submit {
    font-family: "Lora", Sans-serif;
    outline: none;
    border: none;
    background-color: #6759ff;
    color: #fff;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 30px;
    max-width: 170px;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.checkout-coupon__submit:hover {
    background-color: #333333;
}

.checkout-bill {
    padding: 30px;
    margin-top: 50px;
    border: 2px solid #eaeaea;
    background-color: #fff;
    width: 100%;
}

.form--modifier {
    margin-bottom: 60px;
}

.form-bill__title {
    display: flex;
    font-family: "Lora", Sans-serif;
    font-size: 14px;
    position: relative;
    margin: 0 0 24px;
    padding-bottom: 8px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    border-color: #eaeaea;
}

.form-bill__title input {
    margin: 0 0 0 auto;
    background-color: #f7f7f7;
    display: inline-block;
    border: 1px solid #bbb;
    width: 16px;
    min-width: 16px;
    height: 16px;
    outline: none;
    text-align: center;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    -webkit-transition: 0.05s all ease-in-out;
    -moz-transition: 0.05s all ease-in-out;
    -ms-transition: 0.05s all ease-in-out;
    -o-transition: 0.05s all ease-in-out;
    transition: 0.05s all ease-in-out;
}

.form-bill__title input:checked:before {
    content: '\f00c';
    color: #242424;
    width: 18px;
    font-family: 'FontAwesome';
}

.form__information {
    width: 100%;
    margin-bottom: 16px;
    padding: 4px 0;
}

.form__information--modifier {
    position: relative;
}

.form__information .form__label--modifier {
    font-family: "Lora", Sans-serif;
    margin: 0 0 12px;
    font-size: 16px;
    font-weight: 500;
    color: #666666;
}

.form__information textarea {
    font-family: "Lora", Sans-serif;
    background-color: #f7f7f7;
    min-height: 150px;
    line-height: 1.6;
    display: inline-block;
    resize: vertical;
    overflow: auto;
    width: 100%;
    font-size: 14px;
    padding: 6px 12px;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow: auto;
    outline: none;
}

.form__label--modifier--modifier {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.form__information .form__label--modifier span {
    color: red;
}

.form__information .form-control {
    font-family: "Lora", Sans-serif;
    font-size: 16px;
    background-color: #f7f7f7;
    color: #333;
    outline: none;
    width: 100%;
    padding: 6px 12px;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 4px;
    min-height: 40px
}

.form__information select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    text-overflow: ellipsis;
    padding-right: 28px !important;
    white-space: nowrap;
    cursor: pointer;
}

.form-checkout__show-country {
    position: absolute;
    bottom: 22px;
    right: 14px;
    color: #666666;
    pointer-events: none;
}

.checkout-coupon__toggle {
    margin: 0 0 0 auto;
    text-transform: capitalize;
    color: #202424;
    text-align: right;
    flex-basis: 66%;
}

.checkout-coupon__show-coupon {
    color: #6759ff;
    cursor: pointer;
}

/* Order */
.checkout__order-header {
    border-top: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
}

.checkout__order-body,
.checkout__order-footer {
    border-left: 1px solid #ebebeb;
}

.product__order--frames {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: "Lora", Sans-serif;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 20px;
    background-color: #f7f7f7;
    height: 100%;
}

.product__order-title {
    font-size: 18px;
    color: #202424;
    letter-spacing: 0.8px;
    font-weight: 900;
    text-transform: uppercase;
}

.checkout__order-name-product {
    margin-right: 4px;
    line-height: 1.4;
}

.checkout__order-title-product,
.checkout__order-quantity-product {
    color: #666666;
    font-weight: 500;
    font-size: 16px;
}

.checkout__order-price-product {
    font-size: 16px;
    color: #202424;
}

.checkout__order-footer-title {
    font-weight: 700;
    color: #444444;
    font-size: 16px;
}

.checkout__order-footer-value {
    font-size: 16px;
    color: #202424;
}

.checkout__order-footer-value--total {
    font-weight: 900;
    color: #202424;
}

.checkout__order-payment {
    margin: 40px 0 30px;
    background-color: #f5f5f5;
}

.checkout__order-payment-paypal,
.checkout__order-payment-cod {
    background-color: #f5f5f5;
    padding: 10px;
}

.checkout__order-payment-method {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
    cursor: pointer;
    margin: 0;
    letter-spacing: 0.4px;
}

.checkout__order-payment-method span {
    color: #666666;
    font-family: "Lora", Sans-serif;
    font-weight: 700;
}

.checkout__order-payment-box {
    font-family: "Lora", Sans-serif;
    position: relative;
    width: 100%;
    padding: 20px;
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
    color: #555;
}

.checkout__order-payment-method span a {
    font-family: "Lora", Sans-serif;
    font-size: 16px;
    margin-left: 6px;
    text-decoration: none;
    color: #242424;
}

.checkout__order-payment-img {
    margin: 0 0 0 auto;
}

.checkout__order-payment-img img {
    max-height: 28px;
}

.checkout__order-payment-method input[type="radio"] {
    display: none;
}

.checkout__order-payment-method label {
    padding-left: 24px; 
    position: relative;
    margin: 0;
    line-height: 20px;
}

.checkout__order-payment-method label::before {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    content: '';
    background: #fff;
    border: 3px solid #333;
    cursor: pointer;
}

input[type="radio"]:checked ~ label:after {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 6.5px;
    transform: translate(-50%, -50%);
    content: '';
    background: #333;
}

.checkout__order-policy-text {
    font-family: "Lora", Sans-serif;
    color: #666666;
    font-size: 16px;
    line-height: 1.4;
}

.checkout__order-policy-text a {
    color: #202424;
    text-decoration: none;
    font-weight: 500;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.checkout__order-policy-text a:hover {
    color: #6759ff;
}

.checkout__order-submit {
    font-family: "Lora", Sans-serif;
    cursor: pointer;
    margin-top: 30px;
    width: 100%;
    outline: none;
    border: none;
    padding: 16px 20px;
    line-height: 1.6;
    background-color: #6759ff;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.8px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.checkout__order-submit:hover {
    background-color: #333333;
}

.form-message--modifier {
    font-family: "Lora", Sans-serif;
    display: block;
    margin-top: 8px;
}

.redirect__return-to-home-btn {
    font-family: "Lora", Sans-serif;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    background-color: #6759ff;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    top: 100%;
    font-weight: 700;
    font-size: 12px;
    padding: 14px 20px;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.redirect__return-to-home-btn:hover {
    background-color: #333333;
}

.redirect__return-to-home-btn span {
    font-size: 8px;
    display: inline-block;
    margin-right: 8px;
}

/* Mobile: width < 740px */
@media only screen and (max-width: 739px) {
    .checkout-coupon {
        margin: 40px 10px 50px;
    }

    .checkout-coupon p {
        font-size: 14px;
    }
    
    .checkout-coupon__code {
        font-size: 14px;
    }

    .checkout-bill {
        padding: 30px 20px;
    }

    .checkout__order-title-product, .checkout__order-quantity-product {
        font-size: 15px;
    }

    .checkout__order-footer-value {
        font-size: 15px;
    }

    .checkout__order-footer-value--modifier {
        font-size: 16px;
    }

    .checkout-coupon__submit {
        font-size: 12px;
        padding: 10px 20px;
    }

    .product__order-title {
        font-size: 16px;
    }

    .checkout__order-policy-text {
        font-size: 14px;
    }

    .redirect__return-to-home-btn {
        margin-left: 20px;
    }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    
}

/* Mobile & tablet */
@media (max-width: 1023px) {
    .checkout-coupon {
        margin-bottom: 0;
    }

    .checkout-coupon__form {
        flex-direction: column;
    }

    .checkout-coupon__submit {
        margin: 14px 0 0;
    }

    .checkout-bill {
        margin-top: 40px;
    }
}

/* pc: width >= 1024px */
@media only screen and (min-width: 1024px) {}