.detail__header {
    padding: 80px 0;
    background-color: #F2F3EC;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.detail__header span::before {
    content: "/";
    font-size: 20px;
    margin: 0 10px;
    color: #999999;
    display: inline-block;
    font-family: FontAwesome;
    font-weight: 900;
}

.detail__header-title {
    color: #111111;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2;
    text-transform: capitalize;
}


.detail__header-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DD8262;
    font-size: 14px;
    text-transform: capitalize;
    margin-top: 4px;
}

.detail__header-navigation a {
    color: #999999;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.detail__header-navigation a:hover {
    color: #DD8262;
}

.detail__wrapper {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 3rem;
    font-family: 'Open Sans', sans-serif;
}

.detail__slides-main-img {
    height: 480px;
    width: 100%;
}

.detail__slides {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.detail__slides-tablist {
    display: flex;
    margin-top: 10px;
}

.detail__slides-tablist img {
    width: 100%;
    max-height: 100px;
    padding-right: 10px;
    cursor: pointer;
}

.detail-title {
    font-size: 30px;
    font-weight: 700;
    padding-top: 30px;
}

.detail-price {
    font-size: 35px;
    font-weight: 600;
    padding-top: 20px;
}

.detail-script {
    font-size: 16px;
    padding-top: 20px;
}

.detail-category {
    display: flex;
    align-items: center;
    flex-direction: center;
    padding-top: 20px;
}

.detail-category span {
    font-size: 20px;
    font-weight: 600;
    padding-right: 5px;
}

.detail-category-type {
    font-weight: 400;
}

.quantity-wishlist__group {
    display: flex;
}

.quantity-btn {
    margin-top: 20px;
    width: 100px;
    min-height: 36px;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 5px;
    border: 1px solid #ebebeb;
}

.quantity-btn span {
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}

.quantity-btn span.num {
    font-size: 16px;
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    pointer-events: none;
}

.detail-select-form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.detail-select-form::after {
    content: '\f078';
    font: normal normal normal 16px FontAwesome;
    color: #111111;
    top: 50%;
    transform: translateY(-50%);
    right: 9px;
    font-size: 13px;
    position: absolute;
    pointer-events: none;
}

.detail-select-form select {
    border-radius: 5px;
    padding: 5px 30px 5px 10px;
    font-size: 16px;
    height: 40px;
    width: 82%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

.detail-select-form label {
    flex: 1;
}

.detail__content input {
    width: 50px;
    margin-top: 20px;
    padding: 5px 10px;
    font-size: 15px;
    margin-right: 10px;
}

.detail__wrapper input:focus {
    outline: none;
}

.detail-add-to-wishlist {
    margin-top: 20px;
    margin-left: 20px;
    padding: 14px 14px;
    height: 40px;
    color: #ffffff;
    background: #111111;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.detail-add-to-wishlist:active {
    background: #DD8262;
}

.detail-add-to-cart-btn {
    font-size: 13px;
    font-weight: 700;
    padding: 14px 30px;
    margin-top: 20px;
    color: #ffffff;
    background: #DD8262;
    letter-spacing: 4px;
    cursor: pointer;
    border: none;
    display: block;
    border-radius: 5px;
}

.detail-add-to-cart-btn:hover {
    background: #111111;
    transition: all 0.5s ease;
}

.tab__wrapper {
    padding-top: 20px;
}

.tabs {
    display: flex;
    position: relative;
}

.tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #111111;
    transition: all 0.3s ease;
}

.tab-item {
    min-width: 80px;
    padding: 16px 20px 11px 20px;
    font-size: 16px;
    text-align: center;
    color: #111111;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
}

.tab-icon {
    font-size: 24px;
    width: 32px;
    position: relative;
    top: 2px;
}

.tab-item:hover {
    opacity: 1;
}

.tab-item.active {
    opacity: 1;
}

.tab-content {
    padding: 28px 0;
}

.tab-pane {
    color: #333;
    display: none;
}

.tab-pane.active {
    display: block;
}

.tab-pane h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid #999999;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}

th {
    padding-left: 20px;
    padding-right: 20px;
}

td {
    width: 100%;
}

.review__content {
    display: block;
    margin-bottom: 5px;
}

.review__content span {
    position: relative;
    top: -4px;
    font-size: 10px;
    margin-left: 3px;
    color: red;
}

.review__stars {
    margin-bottom: 20px;
}

.star {
    border: none;
    color: #fc7d06;
    background-color: unset;
    font-size: 20px;
}

.star:hover {
    cursor: pointer;
}

.review__group textarea {
    width: 100%;
    min-height: 150px;
    line-height: 1.5;
    padding-left: 10px;
    padding-top: 5px;
    margin-bottom: 20px;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f7f7f7;
}

.review__group input {
    width: 100%;
    padding: 10px 10px;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f7f7f7;
}

.review__submit {
    margin-top: 20px;
    padding: 14px 14px;
    color: #ffffff;
    background: #111111;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.review__submit:hover {
    background: #DD8262;
}

.ship__wrapper h4 {
    padding-bottom: 10px;
}

.ship__wrapper p {
    padding-bottom: 30px;
}






/* Mobile: width < 740px */
@media only screen and (max-width: 739px) {
    .detail__wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }
}

/* Tablet: width >= 740px and width < 1023px */
@media only screen and (min-width: 740px) and (max-width: 1023px) {}

/* pc: width >= 1023px */
@media only screen and (min-width: 1024px) {
    .detail__content {
        padding-left: 40px;
    }
}