.hero__slider {
    position:relative;
}

.hero__items {
    height: 800px;
    /* padding-top: 130px; */
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.swiper-slide img {
    width:100%;
}

.hero__text {
    position:absolute;
    padding-top: 0px;
}

.hero__text h6 {
    top: 0;
    opacity: 1;
    color:#e53637;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 28px;
    /* position: relative; */
}

.hero__text h2 {
    top: 0;
    opacity: 1;
    color:#111111;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 30px;
    /* position: relative; */
}

.hero__text p {
    top: 0;
    opacity: 1;
    color:#111111;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 35px;
    /* position: relative; */
}

.swiper-button-next {
    color:#111111;
}

.swiper-button-prev {
    color:#111111;
}