@import url(../lib/grid.css);
@import url(../lib/toast.css);
@import url(../css/header.css);
@import url(../css/hero.css);
@import url(../css/banner.css);
@import url(../css/product.css);
@import url(../css/footer.css);

.layout {
    padding: 100px 0;
}

#banner {
    background: #f3f7fa;
}

#product {
    padding-top: 0;
    padding-bottom: 60px;
    background: #f3f7fa;;
}

#footer {
    background: #111111;
    padding-top: 70px;
}

.hide {
    display: none;
}

a, button, img {
    -webkit-tap-highlight-color: transparent;
}

/* Mobile: width < 740px */
@media only screen and (max-width: 739px) {
    #banner {
        padding-bottom: 30px;
    }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    
}

/* pc: width >= 1024px */
@media only screen and (min-width: 1024px) {}