@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

.product__title {
    position: relative;
    display: flex;
    margin-bottom: 24px;
}

.product__title h3 {
    margin: auto;
    font-family: "Lora", Sans-serif;
    font-size: 46px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.2em;
    letter-spacing: -0.025px;
}

.product__title h3::after {
    display: block;
    content: '';
    width: 90px;
    height: 2px;
    background-color: #222;
    position: absolute;
    left: 50%;
    bottom: -18px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.product__search-container {
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

#product__search-input {
    background-color: transparent;
    outline: none;
    border: none;
    width: 70%;
    border-bottom: 2px solid #110f29;
    padding: 16px 24px;
    font-size: 24px;
    font-family: "Lora", Sans-serif;
}

#product__search-input:focus {
    border-bottom-color: #6759ff;
}

.product__search-btn {
    outline: none;
    border: none;
    padding: 20px 26px;
    margin-left: 20px;
    background-color: #6759ff;
    color: #ffffff;
    border-radius: 16px;
    font-family: "Lora", Sans-serif;
    cursor: pointer;
    font-size: 24px;
}

.product__category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product__category-btn {
    border: 2px solid #6759ff;
    padding: 14px 30px;
    border-radius: 48px;
    background-color: transparent;
    color: #6759ff;
    cursor: pointer;
    font-family: "Lora", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 0 4px 12px;
    text-transform: capitalize;
}

.product__category-btn.active {
    background-color: #6759ff;
    color: #ffffff;
}

/* Product container */
.product__container {
    padding: 40px 0 20px;
}

/* Product Item */
.product__item {
    font-family: "Dosis", sans-serif;
    transition: all 0.3s;
    padding-bottom: 36px;
}

.product__item:hover .product__item-img {
    -webkit-transform: scale(1.25) rotate(-12deg);
    -ms-transform: scale(1.25) rotate(-12deg);
    transform: scale(1.25) rotate(-12deg);
}

.product__item:hover .product__item-link::before {
    opacity: 1;
    width: 100%;
    height: 101%;
    background: rgba(233, 236, 241, 0.6);
}

.product__item:hover .product__item-btn {
    display: flex;
}

.product__item:hover .product__item-btn {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/* Img Wrapper */
.product__item-img-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    height: 100%;
    width: 100%;
    background-color: #fff;
    cursor: pointer;
}

.product__item-link::before {
    display: block;
    content: '';
    width: 10%;
    height: 10%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 2;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.product__item-link {
    text-decoration: none;
    color: inherit;
}

.product__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s;
}

.product__item-info {
    margin: 18px 0;
}

.product__item-info-link {
    text-decoration: none;
    color: inherit;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    max-width: 356px;
    width: fit-content;
}

.product__item-title {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
    color: #202424;
    margin-bottom: 8px;
}

.product__item-category {
    font-size: 14px;
    font-weight: 500;
    color: #666;
    margin-bottom: 8px;
}

.product__item-info-link:hover {
    color: #6759ff;
}

.product__item-price {
    color: #333;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
    text-transform: uppercase;
}

/* Button Wrapper */
.product__item-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 38px;
    opacity: 1;
    width: 100%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 3;
}

.product__item-btn {
    margin: 0 5px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    border-radius: 100%;
}

.product__item-btn-link {
    display: block;
    height: 45px;
    width: 45px;
    text-decoration: none;
    background-color: #fff;
    color: #333;
    border-radius: 100%;
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.product__item-btn-link::after {
    content: '';
    display: block;
    width: 40%;
    height: 40%;
    border-radius: 100%;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.product__item-btn-link:hover::after {
    width: 105%;
    height: 105%;
    opacity: 1;
    background-color: #6759ff;
}

.product__item-btn-link i {
    line-height: 45px;
    font-size: 16px;
    position: relative;
    z-index: 1;
}

.product__item-btn:hover .product__item-btn-link {
    color: #fff;
}

.product__item-btn-tooltip {
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 9999;
    padding: 6px 12px;
    opacity: 0;
    white-space: nowrap;
    font-size: 14px;
    font-family: "Lora", Sans-serif;
    transform: translateY(-24px);
    pointer-events: none;
}

.product__item-btn:hover .product__item-btn-tooltip {
    transform: translateY(-42px);
    opacity: 1;
}

.product__item-btn-tooltip::after {
    position: absolute;
    content: '';
    height: 12px;
    width: 12px;
    background: #333;
    left: 50%;
    bottom: -4px;
    z-index: -1;
    transform: translateX(-50%) rotate(45deg);
}

/* View more */
.product__view-more {
    display: flex;
}

.product__view-more-btn {
    margin: auto;
    font-family: "Lora", Sans-serif;
    outline: none;
    border: none;
    padding: 14px 50px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #6759ff;
    border-radius: 24px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.product__view-more-btn:hover::before {
    width: 100%;
    opacity: 1;
}

.product__view-more-btn::before {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    width: 50%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: inherit;
}

/* Product not found */
.product__empty-list {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    text-align: center;
}

.product__empty-text {
    font-size: 50px;
    font-family: "Lora", Sans-serif;
    font-weight: 500;
}

/* Product Quick View */
.product__quick-view {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: auto;
}

.product__qv-overlay {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.8;
}

.product__qv-wrapper {
    position: relative;
    margin: 80px;
    padding: 60px 30px;
    background-color: #fff;
}

.product__qv-close-btn {
    position: absolute;
    top: -46px;
    right: 0;
    color: #e6e6e6;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0.6;
    font-size: 36px;
}

.product__qv-tablist {
    max-height: 480px;
    overflow-y: auto;
}

.product__qv-tablist::-webkit-scrollbar {
    width: 16px;
}

.product__qv-tablist::-webkit-scrollbar-track {
    background-color: transparent;
}

.product__qv-tablist::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.product__qv-tablist-img {
    width: 100%;
    height: 90px;
    margin-bottom: 16px;
    padding: 2px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    list-style: none;
}

.product__qv-tablist-img:hover {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.product__qv-tablist-img.active {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.product__qv-tablist-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product__qv-center {
    position: relative;
}

.product__qv-control {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 0 10px;
    height: 100px;
}

.product__qv-control-btn {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.product__qv-control-btn i:hover {
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 1;
}

.product__qv-control-btn i {
    padding: 12px;
    font-size: 20px;
    color: #fff;
    background-color: #000;
    opacity: 0.5;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.product__qv-main {
    position: relative;
}

.product__qv-show-more-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.product__qv-show-more-btn i {
    padding: 12px;
    font-size: 16px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0.8;
}

.product__qv-show-more-btn:hover i {
    background-color: #6759ff;
    color: #fff;
    opacity: 1;
}

.product__qv-main-img {
    width: 100%;
    height: 480px;
}

.product__qv-main-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product__qv-info {
    padding: 10px 30px;
}

.product__qv-title {
    font-family: "Lora", Sans-serif;
    font-size: 24px;
    padding-bottom: 14px;
    font-weight: 500;
    color: #333;
}

.product__qv-price {
    font-family: "Lora", Sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: #333;
}

.product__qv-desc {
    font-family: "Lora", Sans-serif;
    font-size: 14px;
    padding: 22px 0 32px;
    color: #666;
}

#qv-form .product__qv-select-form {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    position: relative;
    flex-wrap: wrap;
}

#qv-form .product__qv-select-form::after {
    content: '\f078';
    font: normal normal normal 16px FontAwesome;
    color: #000;
    right: 10px;
    top: 0;
    line-height: 42px;
    font-size: 20px;
    padding-left: 10px;
    border-left: 2px solid #ccc;
    position: absolute;
    pointer-events: none;
}

#qv-form .product__qv-select-form label {
    font-family: "Lora", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    flex: 1;
    display: flex;
    justify-content: center;
}

#qv-form .product__qv-select-form select {
    font-family: "Lora", Sans-serif;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    flex-basis: 80%;
    border-radius: 4px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-weight: 600;
    outline: none;
    cursor: pointer;
}

#qv-form .product__qv-select-form select option {
    font-family: "Lora", Sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.product__qv-quantity {
    display: inline-flex;
    margin-top: 24px;
}

.product__qv-quantity input {
    text-align: center;
    font-family: "Lora", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    max-width: 70px;
    color: #666;
    outline: none;
    border: 1px solid #ccc;
}

.product__qv-quantity-btn {
    border: 1px solid #ccc;
    padding: 16px 24px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.product__qv-quantity-btn:hover {
    background-color: #6759ff;
}

.product__qv-quantity-minus-btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.product__qv-quantity-plus-btn {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.product__qv-add-to-cart-btn {
    font-family: "Lora", Sans-serif;
    border-radius: 10px;
    font-weight: 900;
    background-color: #6759ff;
    width: 100%;
    height: 60px;
    font-size: 20px;
    line-height: 1.466667;
    text-transform: uppercase;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.product__qv-add-to-cart-btn:hover {
    background-color: #333;
}

.product__qv-add-to-wishlist {
    display: inline-block;
    background: #202424;
    padding: 16px;
    margin-left: 16px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* .product__qv-add-to-wishlist:hover {
    background-color: #6759ff;
} */

.product__qv-add-to-wishlist.active {
    background-color: #6759ff;
}

.form-message--size,
.form-message--color {
    font-family: "Lora", Sans-serif;
    margin: 8px 0 10px auto;
}

.form-message--quantity {
    display: block;
    margin-bottom: 30px;
}

.product__qv-inner {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0;
    transform: scale(0.8);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    visibility: hidden;
}

.product__qv-inner.active {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}

.product__qv-inner-close-btn {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    outline: none;
    border: none;
    margin: 10px 26px 0 0;
    cursor: pointer;
}

.product__qv-inner-close-btn i {
    color: #fff;
    font-size: 40px;
}

.product__qv-inner-overlay {
    background-color: #000;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.product__qv-inner-control-btn {
    
}

.product__qv-inner-btn-prev,
.product__qv-inner-btn-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.product__qv-inner-btn-prev {
    left: 0;
    padding-left: 16px;
}

.product__qv-inner-btn-next {
    right: 0;
    padding-right: 16px;
}

.product__qv-inner-img {
    position: fixed;
    width: 574px;
    margin: 0 auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.product__qv-inner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

.product__qv-cnt-img {
    display: block;
    font-family: "Lora", Sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: right;
}

.product__qv-inner-btn {
    outline: none;
    border: none;
    font-size: 60px;
    background-color: transparent;
    color: #fff;
}

/* Mobile: width < 740px */
@media only screen and (max-width: 739px) {
    .product__search-container {
        margin: 24px 0 30px;
    }

    #product__search-input {
        padding: 12px 16px;
        text-overflow: ellipsis;
    }

    .product__search-btn {
        padding: 0 20px;
        margin-left: 14px;
        font-size: 18px;
    }

    .product__category-btn {
        padding: 12px 18px;
    }

    .product__item-img-wrapper {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    }
    
    .product__container {
        margin: 30px 0 0;
    }

    .product__item-btn-link {
        height: 40px;
        width: 40px;
    }

    .product__item-btn-link i {
        line-height: 40px;
        font-size: 16px;
    }

    /* Product Quick View */
    .product__qv-wrapper {
        margin: 0;
        padding: 60px 0;
    }
    
    .product__qv-info {
        padding: 0 20px;
    }

    #qv-form .product__qv-select-form label {
        font-size: 18px;
    }

    .product__qv-close-btn {
        top: 16px;
        right: 18px;
        font-size: 28px;
        color: #000;
    }

    .product__qv-add-to-wishlist {
        margin-left: 12px;
    }

    .product__qv-inner-btn {
        font-size: 30px;
    }

    .product__qv-inner-btn i {
        background-color: #000;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
        padding: 8px;
    }

    .product__qv-main-img {
        height: 300px;
    }

    .product__qv-tablist {
        height: 300px;
    }

    .product__qv-tablist {
        overflow-y: overlay;
    }

    .product__qv-tablist::-webkit-scrollbar {
        width: 14px;
    }

    .product__qv-tablist::-webkit-scrollbar-thumb {
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }

    .product__qv-control-btn i {
        padding: 6px;
    }

    .product__qv-show-more-btn i {
        font-size: 12px;
    }

    /* Quick View Inner */
    .product__qv-inner-close-btn {
        z-index: 1;
        background-color: #000;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
        padding: 8px;
    }

    .product__qv-inner-close-btn i {
        font-size: 24px;
    }

    .product__qv-cnt-img {
        text-align: center;
    }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    /* Product Quick View */
    .product__qv-wrapper {
        margin: 80px 22px;
    }

    #qv-form .product__qv-select-form label {
        font-size: 20px;
    }
}

/* Mobile & tablet */
@media (max-width: 1023px) {

    /* Product Quick View */
    .product__qv-tablist-img {
        height: 90px;
    }

    .product__qv-info {
        margin-top: 50px;
    }

    #qv-form .product__qv-select-form select {
        width: 74%;
    }

    .product__qv-control-btn i {
        opacity: 1;
        background-color: #000;
        color: #fff;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    }

    .product__item-link {
        pointer-events: none;
    }
}

/* pc: width >= 1024px */
@media only screen and (min-width: 1024px) {}

/* Fix breakpoint 1280px */
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .product__qv-wrapper {
        margin: 80px 0;
    }

    .product__qv-close-btn {
        right: 24px;
    }

    .product__qv-tablist-img {
        height: 80px;
    }

    .product__qv-info {
        padding: 10px;
    }
}